<template>
    <main class="main-container">
        <div class="grid gap-5 lg:grid-cols-3">
            <!-- Start "Left Side" -->
            <div class="space-y-5">
                <!-- Start "User Block" -->
                <div class="shadow rounded-xl overflow-hidden">
                    <div class="h-32 bg-cover" :style="{ backgroundImage: 'url(' + imageCover + ')' }"></div>
                    <div class="pt-14 p-7 bg-white relative">
                        <span class="status-badge bg-green-400">Open</span>
                        <a href="#">
                            <img src="../images/avatar.jpg" alt="Avatar" class="user-photo">
                        </a>
                        <div class="text-lg font-semibold mb-1.5">Nathan GUIRADO-PATRICO</div>
                        <div class="text-sm text-gray-400 mb-7">Junior Developer & Project Manager</div>
                        <!-- TODO : Add download CV feature -->
                        <div class="flex group">
                            <button class="download-btn">Download CV</button>
                            <button class="download-btn-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End "User Block" -->

                <!-- Start "Info Block" -->
                <!-- TODO : Modify some elements -->
                <div class="p-7 block-section">
                    <h2 class="block-title">Information</h2>
                    <div class="space-y-4">
                        <div class="flex justify-between">
                            <div class="text-gray-400">Location</div>
                            <div class="font-medium text-right text-gray-600">Grenoble</div>
                        </div>
                        <div class="flex justify-between">
                            <div class="text-gray-400">Experience</div>
                            <div class="font-medium text-right text-gray-600">3+ years</div>
                        </div>
                        <div class="flex justify-between">
                            <div class="text-gray-400">Relocation</div>
                            <div class="font-medium text-right text-gray-600">Yes (conditionally)</div>
                        </div>
                    </div>
                </div>
                <!-- End "Info Block" -->

                <!-- Start "Skills Block" -->
                <div class="p-7 block-section flow-root">
                    <h2 class="block-title">Skills</h2>
                    <div class="-m-2 flex flex-wrap">
                        <span class="skill-tag">Symfony</span>
                        <span class="skill-tag">Laravel</span>
                        <span class="skill-tag">Vue</span>
                        <span class="skill-tag">SQL</span>
                    </div>
                </div>
                <!-- End "Skills Block" -->
            </div>
            <!-- End "Left Side" -->

            <!-- Start "Right Side" -->
            <div class="space-y-5 lg:col-span-2">
                <!-- Start "About Me Block" -->
                <div class="p-7 pb-0 block-section">
                    <!-- TODO : Modify "About Me" Text -->
                    <h2 class="block-title">About me</h2>
                    <p class="text-gray-600 mb-5">Libero quas veritatis nulla distinctio fuga nihil temporibus et. Quia dicta sapiente qui porro molestiae nobis incidunt voluptatem. Et voluptas sunt nihil. At perferendis voluptatem dolores nulla. Adipisci dolore non. Praesentium ipsa magnam ut quia explicabo voluptates.</p>

                    <div class="flex flex-col space-y-4">
                        <a href="#" class="mail-link social-link-hover">
                            <i class="bx bx-at text-xl"></i>
                            <span>nathan.guirado-patrico@outlook.fr</span>
                        </a>
                        <ul class="flex space-x-5">
                            <li>
                                <!-- TODO : Add LinkedIn Account Link -->
                                <a href="#" class="social-link-hover">
                                    <i class="bx bxl-linkedin text-2xl"></i>
                                </a>
                            </li>
                            <li>
                                <!-- TODO : Add GitHub Account Link -->
                                <a href="#" class="social-link-hover">
                                    <i class="bx bxl-github text-2xl"></i>
                                </a>
                            </li>
                            <li>
                                <!-- TODO : Add GitLab Account Link -->
                                <a href="#" class="social-link-hover">
                                    <i class="bx bxl-gitlab text-2xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="border-t border-gray-200 my-5"></div>
                    <ul class="flex space-x-8 font-medium">
                        <li>
                            <a href="#" class="menu-link-active menu-link-hover">Resume</a>
                        </li>
                    </ul>
                </div>
                <!-- End "About Me Block" -->

                <!-- Start Experience Block -->
                <div class="p-7 block-section">
                    <h2 class="block-title">Experience</h2>
                    <div class="mb-5 item-section">
                        <div class="company-logo" style="background-color: #1DA1F2;">
                            <i class="bx bxl-twitter text-3xl"></i>
                        </div>
                        <div class="w-full space-y-5">
                            <div class="item-header">
                                <div class="space-y-1.5">
                                    <div class="font-medium">Junier Project Manager</div>
                                    <div class="flex space-x-5">
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                            </svg>
                                            <span>Sidas</span>
                                        </div>
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            <span>Voiron - France</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-y-2 sm:text-right">
                                    <div class="job-item-badge">Full time</div>
                                    <div class="item-header-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                        </svg>
                                        <span>October 2021 – Present</span>
                                    </div>
                                </div>
                            </div>
                            <!-- TODO : Modify "Experience Job" Text -->
                            <p class="text-gray-600">
                                Aut omnis voluptatem sit sequi. Voluptatem temporibus repellat voluptatem voluptatibus enim voluptas necessitatibus. Aut quasi sunt dolor. Commodi dolores saepe asperiores beatae voluptate corporis est ea voluptatem. Enim quo sed et sint aspernatur distinctio qui quam.
                            </p>
                            <div class="border-b border-gray-200"></div>
                        </div>
                    </div>
                    <div class="mb-5 item-section">
                        <div class="company-logo" style="background-color: #0061FF;">
                            <i class="bx bxl-dropbox text-3xl"></i>
                        </div>

                        <div class="w-full space-y-5">
                            <div class="item-header">
                                <div class="space-y-1.5">
                                    <div class="font-medium">Junior Web Developer</div>
                                    <div class="flex space-x-5">
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                            </svg>
                                            <span>Sidas</span>
                                        </div>
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            <span>Voiron - France</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-y-2 sm:text-right">
                                    <div class="job-item-badge">Full time</div>
                                    <div class="item-header-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                        </svg>
                                        <span>October 2019 – September 2021</span>
                                    </div>
                                </div>
                            </div>
                            <!-- TODO : Modify "Experience Job" Text -->
                            <p class="text-gray-600">
                                Aut omnis voluptatem sit sequi. Voluptatem temporibus repellat voluptatem voluptatibus enim voluptas necessitatibus. Aut quasi sunt dolor. Commodi dolores saepe asperiores beatae voluptate corporis est ea voluptatem. Enim quo sed et sint aspernatur distinctio qui quam.
                            </p>
                            <div class="border-b border-gray-200"></div>
                        </div>
                    </div>
                </div>
                <!-- End "Experience Block" -->

                <!-- Start "Education Block" -->
                <div class="p-7 block-section">
                    <h2 class="block-title">Education</h2>
                    <div class="mb-5 item-section">
                        <div class="flex-shrink-0 w-12 h-12 rounded-xl bg-cover" :style="{ backgroundImage: 'url(' + imageSchool + ')' }"></div>
                        <div class="w-full space-y-5">
                            <div class="item-header items-end">
                                <div class="space-y-1.5">
                                    <!-- TODO : Find CESI course "MAALSI" in english -->
                                    <div class="font-medium">Master in Software Engineering</div>
                                    <div class="flex space-x-5">
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                                                <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                                            </svg>
                                            <span>CESI</span>
                                        </div>
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            <span>Meylan - France</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-y-1.5 sm:text-right">
                                    <div class="item-header-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                        </svg>
                                        <span>September 2021 – Present</span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-b border-gray-200"></div>
                        </div>
                    </div>
                    <div class="item-section">
                        <div class="flex-shrink-0 w-12 h-12 rounded-xl bg-cover" :style="{ backgroundImage: 'url(' + imageSchool + ')' }"></div>
                        <div class="w-full space-y-5">
                            <div class="item-header items-end">
                                <div class="space-y-1.5">
                                    <!-- TODO : Find CESI course "RIL" in english -->
                                    <div class="font-medium">Master in Software Engineering</div>
                                    <div class="flex space-x-5">
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                                                <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                                            </svg>
                                            <span>CESI</span>
                                        </div>
                                        <div class="item-header-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            <span>Meylan - France</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-y-1.5 sm:text-right">
                                    <div class="item-header-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                        </svg>
                                        <span>September 2019 – September 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Start Education Block -->
            </div>
            <!-- End "Right Side" -->
        </div>
    </main>
</template>

<script setup>
    import cover from "../images/cover.jpg";
    import school from "../images/bu-logo.jpg";

    const imageCover = cover,
        imageSchool = school;
</script>

<style lang="scss" scoped></style>
